!!!  
%html  
  %head  
    %title Alexandria Staging - Affordable Home Staging Consultations  
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"}
    :javascript
      $(document).ready(function(){
      $("#bar").html( 'hey, hey ... jq ok'  );
      });
  %body  
    %h1 Welcome! All your internets are belong to us.
    %p 
    %div{:id => 'bar'} 
