!!! 5
%html
  %head
    %title Alexandria Staging - Affordable Home Staging Consultations in Northern Virginia
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"}
    <link rel="stylesheet" href="supersized.css" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="js/tipsy-0.1.7/src/stylesheets/tipsy.css"/>
    :css 
      #content{ background-color: rgb(0,0,0); 
      opacity: .65;
      filter: alpha(opacity = 65); 
      width:72%; height:96%; margin:30px auto; text-align:left;
      position:relative; }
      h3{ padding:30px 30px 20px 30px; }
      p{ padding:0 30px 30px 30px; color:#fff; font:13pt "Helvetica Neue", "Helvetica", Arial, sans-serif; text-shadow: #000 0px 2px 0px; line-height:160%; }
      .plugin-logo{ float:right; }
  
   
    %script{:src => "supersized.3.0.core.js"}
    %script{:src => "js/tipsy-0.1.7/src/javascripts/jquery.tipsy.js"}
    :javascript
      $(function(){
        $.fn.supersized.options = {  
          startwidth: 1600,  
          startheight: 967,
          vertical_center: 1,
          slides : [ {image : 'images/mh_lr_4_fixed.jpg' }]
          };
          $('#supersized').supersized(); 
          $('.tipsy').tipsy({gravity:'s'});
          });

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3137017-8']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
  %body
    #loading
    #content-wrapper
      #content
        %div{:align => "center"}
          <table width="88%" border="0">
          <tr>
          <td><h3><img src="images/as-logo.png"/></a></h3></td>
          <td align="left" valign="bottom">
          <p>Cost effective home staging and redesign in Northern Virginia.</p>
          </td>
          </tr>
          </table>
          %p &nbsp;
          %p{ :align => "center"}
          For more information and contact details, please visit us at<br/> <a href="https://www.facebook.com/pages/Alexandria-Staging/145506122179942?sk=wall">Facebook</a>
          <a href="https://www.facebook.com/pages/Alexandria-Staging/145506122179942?sk=wall"><img align="absmiddle" src="images/facebook-icon.png" height="40" /></a> 
	  
    #supersized
 

